.CitiesComponentContainer{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 80%;
    margin: auto;
}

.CitiesComponentContainer > div{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.CitiesComponentContainer button{
    flex: 1 1 70px;
    background-color: #81b8c5;
    color: #2220a1;
    font-family: tahoma;
    font-weight: bold;
    font-size: 0.8rem;
    margin: 10px;
    padding: 10px 15px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: 0.3s;
}

.CitiesComponentContainer button:hover{
    opacity: 0.5;
}