.CitiesComponentContainer{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.CitiesComponentContainer > div{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.CitiesComponentContainer button{
    flex: 1 1 70px;
    background-color: var(--primary-color);
    padding: 10px 15px;
    color: #444444;
    margin: 5px;
}

.CitiesComponentContainer h3{
    margin-bottom: 30px;
}