
.resultContainer{
    background-color: #f8f8f8;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 30px auto;
    padding: 20px;
    border-radius: 15px;
}

.resultContainer p{
    margin: 5px;
    background-color: #efefef;
    padding: 0 10px;
}

.resultContainer span{
    font-family: bf;
    color: #452893;
}